.body{
    align-self: center;
    margin: 10px;
    margin-top: 45px;
    padding: 5px;
    order: 1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    background: rgb(7, 41, 4);
    border-style: solid;
    border-color: rgb(26, 117, 6);
    border-radius: 15px;
}